.how_use {

  &__container {
    width: 960px;
    height: 676px;
    margin: 0 auto;
    padding: 36px 0;
    background-image: url("../../images/stories6.png");
    background-repeat: no-repeat;
    background-size: cover;

    &_title {
      margin-bottom: 24px;
      font-family: 'Oswald';
      font-weight: 500;
      font-size: 48px;
      line-height: 60px;
      text-align: center;
      color: #1B3C9C;

      &__second {
        color: #000;
      }
    }
  }

  &__main_block {
    display: flex;
    justify-content: space-between;
  }

  &__block {
    width: 304px;
    height: 460px;

    &_img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 24px;
    }

    &_step {
      margin-bottom: 8px;
      font-family: 'Oswald';
      font-weight: 700;
      font-size: 23px;
      line-height: 18px;
      color: #000000;
    }

    &_title {
      margin-bottom: 16px;
      font-family: 'Oswald';
      font-weight: 700;
      font-size: 23px;
      line-height: 18px;
      color: #A2D407;
    }

    &_text {
      font-family: 'Helvetica';
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #000000;
    }

  }
}

@media (min-width:694px) and (max-width:995px) {
  .how_use {

    &__container {
      width: auto;
      padding: 36px 10px;
    }

    &__block {
      width: auto;
      height: auto;
      margin-bottom: 0;
    }
    
    &__block_img {
      width: 200px;
    }
  }
}

@media screen and (max-width:694px) {
  .how_use {

    &__container {
      width: auto;
      height: auto;
      padding: 36px 20px;
    }

    &__main_block {
      flex-direction: column;
    }

    &__block {
      width: auto;
      height: auto;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}